@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@*<h2>About</h2>*@

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" dir="rtl">
<!--<![endif]-->
<!-- Mirrored from templates.bwlthemes.com/political_buddies/about-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 02 Aug 2024 19:20:53 GMT -->
<style>
    .section-heading-wrapper .text-left h2,span {
        text-align: center;
    }
    .heading-separator-horizontal {
        text-align: center !important;
    }
    .col-xs-12{
        justify-content: right
    }   
    .col-lg-6 {
        width:90%;

    }
</style>
    <body>

       
        <!--  HEADER -->

      
        <!--  PAGE HEADING -->

        <section class="page-header">

            <div class="container" style="width:100%">

                <div class="row">

                    <div class="col-sm-12 text-center">

                        <h3>
                            من نحن
                        </h3>


                    </div>

                </div> <!-- end .row  -->

            </div> <!-- end .container  -->

        </section> <!-- end .page-header  -->
        <!--  FEATURED ABOUT US SECTION-->

        <section class="section-content-block">

            <div class="container">

                <div class="row">

                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                        <div class="about-us-container theme-custom-box-shadow">

                            <div class="row section-heading-wrapper margin-bottom-11 " >

                                @* من نحن *@
                                <!--<div class="col-lg-12 col-md-12 col-sm-12 text-left no-img-separator">
                                    <h2><strong>من نحن ؟</strong></h2>
                                    <span class="heading-separator heading-separator-horizontal"></span>
                                </div>--> <!-- end .col-sm-10  -->

                            </div>

                            <div class="about-details">
                                <h2>نبذة عن موقعنا </h2>
                                <p>
                                    نرحب بكم في الموقع الإلكتروني الرسمي للانتخابات النيابية، البوابة الرئيسية للمعلومات والتوعية حول العملية الانتخابية. يهدف موقعنا إلى توفير معلومات دقيقة وموثوقة للناخبين، المرشحين، والجهات المنظمة، بالإضافة إلى تعزيز الشفافية والمشاركة المجتمعية في الانتخابات.
                                    <br><br>
                                    <h2>رؤيتنا</h2>
                                    <br>
                                    نسعى إلى بناء مجتمع ديمقراطي مستنير، حيث يكون لكل فرد صوت مسموع وحق في المشاركة الفعالة في العملية الانتخابية. نؤمن بأن الشفافية والتوعية هما الركيزتان الأساسيتان لضمان نزاهة الانتخابات وتعزيز الثقة بين المواطنين والمؤسسات الانتخابية.
                                    <br><br>
                                    <h2>رسالتنا</h2>
                                    <br>
                                    مهمتنا هي توفير منصة شاملة وموثوقة تسهل الوصول إلى المعلومات الانتخابية، وتشجع على المشاركة الفعالة، وتضمن الشفافية والنزاهة في العملية الانتخابية. نعمل جاهدين لتقديم الدعم اللازم للناخبين والمرشحين، ونشر الوعي حول حقوقهم وواجباتهم.
                                    <br><br>
                                    <h2>فريقنا</h2>
                                    يتألف فريقنا من مجموعة من المحترفين والمتخصصين في مجالات تطوير المواقع الإلكترونية، القانون، الإعلام، والتوعية المجتمعية. نعمل معاً لتحقيق هدفنا المشترك في تعزيز العملية الديمقراطية وتقديم أفضل الخدمات للناخبين والمرشحين.
                                    <br><br>
                                    <h2>قيمنا</h2>
                                    الشفافية: نلتزم بتقديم معلومات واضحة وموثوقة لضمان نزاهة العملية الانتخابية.
                                    المسؤولية: نتحمل مسؤولية تقديم خدمات عالية الجودة ودعم مستمر لجميع مستخدمي موقعنا.
                                    المصداقية: نحرص على تقديم معلومات دقيقة وموثوقة تستند إلى مصادر معتمدة.
                                    الابتكار: نسعى دائماً إلى تطوير وتحسين خدماتنا باستخدام أحدث التقنيات لضمان تجربة مستخدم مميزة.
                                    <br><br>
                                    <h2>خدماتنا</h2>
                                    معلومات حول الانتخابات: نوفر أحدث الأخبار والمستجدات حول الانتخابات النيابية.
                                    دليل الناخبين: نقدم إرشادات شاملة حول كيفية التسجيل والتصويت.
                                    دليل المرشحين: نوفر معلومات حول المرشحين وبرامجهم الانتخابية.
                                    النتائج الانتخابية: ننشر النتائج الرسمية فور صدورها من الجهات المعنية.
                                    الدعم الفني: نقدم الدعم الفني للمستخدمين لضمان تجربة سلسة ومريحة.
                                    <br><br>
                                    <h2>تواصل معنا</h2>
                                    نحن هنا لخدمتكم والرد على استفساراتكم. لا تترددوا في التواصل معنا عبر [صفحة الاتصال](رابط صفحة الاتصال) للحصول على المزيد من المعلومات أو لطرح أي أسئلة.
                                </p>
                                </p>

                            </div> <!--  end .about-details -->

                        </div>

                    </div> <!--  end .col-lg-6 col-md-6 col-sm-12 col-xs-12 -->

                </div> <!--  end .row  -->
            </div>

        </section> <!--  end .section-about-us -->
        <!-- START FOOTER  -->

     


    <!-- Mirrored from templates.bwlthemes.com/political_buddies/about-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 02 Aug 2024 19:20:54 GMT -->
</html>